html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.input {
  font-size: 1.6rem;
  line-height: 2.8rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  outline: none;
}

.button {
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.75);
  outline: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0,0,0,0.85);
}

.movieCard {
  display: flex;
  padding: 2rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 1rem;
}

.movie--list {
  margin-top: 4rem;
}

.movie--title {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.movie--img {
  margin-right: 2rem;
}

.movie--overview {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

@media (min-width:786px){
  .form {
      grid-template-columns: auto 1fr auto;
      grid-gap: 1rem;
      align-items: center;
  }
  
  .input {
      margin-bottom: 0;
  }
}